################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SD-Calculator/FileContentIndex/e7dbc509-6cee-4459-8bbf-be07fff50314.vsidx
